<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Assignment 11.1</h1>

<body>
    <script>
    // Can't start on this assignment since I couldn't implement
    // CRUD and database from last assignment
    </script>
</body>
