<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <script>
    // Not really sure how to start using database?
    // Don't know where to launch database or migrate my POCOs
    </script>
</body>
